canvas {
    border: 1px solid black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('/assets/images/bgs/background.png');
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-area {
    display:flex;
    align-items: flex-start;   
    margin-bottom:  20px;
}

#score-box {
    background-color:rgba(0, 0, 0, 0.7);
    color: white;
    border: 2px solid yellow;
    border-radius: 5px;
    padding: 10px 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    white-space: nowrap;
}
.score-label {
    opacity: 0.8;
    font-weight: normal;
}

#score-value {
    font-weight: bold;
    color: yellow;
}

.start-label {
    opacity: 0.8;
    font-weight: bold;
}


#game-title {
    color: rgb(20, 143, 9);   
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5em;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
    margin-bottom: 40px;
}

